.input {
    input{
        width: 300px;
        height: 45px;
        padding: 12px 18px;

        background-color: #224957;
        color: #ffffff;

        border-radius: 10px;
        outline: none;
    }
  }