.btn {
  height: 45px;
  width: 100%;

  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  text-align: center;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  color: var(--color-primary);
  background: transparent;

  border: none;
  border-radius: 10px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: opacity ease-in-out 0.25s;

  &:hover {
    opacity: 0.7;
  }

  &.contained {
    &.primary {
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }

  &.outlined {
    &.primary {
      color: var(--color-primary);
      background-color: var(--color-white);
      border: 1px solid var(--color-primary);
    }
  }
}
