button {
  height: 45px;
  width: 100%;

  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  text-align: center;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  color: #224957;
  background: #20df7f;

  border: none;
  border-radius: 10px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}
.icon + .heading,
.heading + .icon {
  margin-left: 8px;
}
.heading {
  width: 200px;
}
