.form-group {
  width: 100%;

  &__label {
    display: block;
    padding-bottom: 4px;

    font-size: 1.5rem;
    font-weight: 500;

    &.required::after {
      content: '*';
      color: var(--color-red-0);
      padding-left: 2px;
    }
  }

  &__error {
    display: block;
    height: 16px;
    margin-top: 4px;
    padding-left: 18px;

    font-size: 1.3rem;
    font-weight: 400;

    color: var(--color-red-0);

    &.visible {
      animation: animate-show-error ease-in-out 0.35s;

      &::before {
        content: '*';
        padding-right: 2px;
      }
    }
  }
}

.input-field {
  width: 100%;
  padding: 12px 18px;

  background-color: var(--color-white);

  border-radius: 5px;
  border: 1px solid var(--color-input-border);

  transition: all ease-in-out 0.25s;

  &::placeholder {
    color: var(--color-placeholder);
  }

  &:focus {
    border-color: var(--color-primary);
  }
}

@keyframes animate-show-error {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(20%);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
