@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Montserrat&display=swap');
@import './Reset.scss';

//font
:root {
  --lexend-font-family: 'Lexend Deca', sans-serif;
  --montserrat-font-family: 'Montserrat', sans-serif;

  --fw-light: 300;
  --fw-normal: 400;
  --fw-bold: 500;
  --fw-black: 700;

  // themes
  --color-primary: #224957;
  --color-text: #4d5959;

  // input
  --color-placeholder: #838383;
  --color-input-border: #cccccc;

  // color
  --color-white: #fff;
  --color-black: #000;
  --color-bg-gray: #e5e5e5;

  --color-border-0: #e8e8e8;
  --color-border-1h: #e4e4e4;
  --color-border-input: #d9d9d9;

  --color-red-0: #e92c2c;
  --color-green-0: #00ba34;
  --color-green-1: rgba(0, 186, 52, 0.1);
  --color-blue-0: #0085ff;
  --color-blue-1: #224957;
  --color-orange-0: #f98600;
  --color-orange-1: rgba(255, 150, 27, 0.1);
  --color-text-light: #969696;
  --color-text-gray: #585757;
  --color-text: #1c1c1c;

  --bs-default: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.08);
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;

  font-size: 1.6rem;
  line-height: 1;
  font-family: var(--lexend-font-family);

  color: var(--color-text);
  overflow: hidden;
}

input,
button,
textarea,
select {
  font-family: var(--lexend-font-family);
  outline: none;
}
