.form {
  padding: 73px 60px 93px 60px;

  display: flex;
  flex-direction: column;

  gap: 13px;

  &__heading {
    color: var(--color-black);
    font-size: 20px;
    margin-bottom: 34px;
  }

  p {
    font-family: var(--lexend-font-family);
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 0.03em;

    color: var(--color-secondary);
    text-align: right;

    a {
      color: var(--color-blue-0);
      cursor: pointer;
    }
  }

  &__label {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 10px 0 18px 0;
    h3 {
      font-size: 1.3rem;
      text-align: center;
      padding: 0 18px;
      color: var(--color-secondary);
    }
    div {
      background-color: rgba(var(--b38, 219, 219, 219), 1);
      flex-grow: 1;
      flex-shrink: 1;
      height: 1px;
      position: relative;
      top: 0.45em;
    }
  }

  &__alternative {
    display: flex;
    gap: 5px;
    img {
      height: 22px;
      width: 22px;
      margin-right: 10px;
    }
  }
}

.form__submit {
  margin: auto;
}

.alter_btn {
  border-radius: 5px;
}
