.wrapper {
  height: 100vh;

  nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    padding: 40px 120px;

    font-family: var(--Lexend-font-family);
    font-weight: 500;
    font-size: 14px;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      li {
        cursor: pointer;
      }
    }
  }
}
.navigate-section {
  width: 400px;
}
.module-section {
  width: 250px;

  .highlight {
    padding: 8px 12px;

    color: var(--color-blue-0);
    background-color: rgb(255, 255, 255);

    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  }
}
