.wrapper{
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--color-bg-gray);

}

.login {
    width: var(--login-width);
    height: 100%;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;

    font-family: var(--Lexend-font-family);
    
    h2 {
      font-size: 6.4rem;
      line-height: 80px;
    }

    h3 {
      font-size: 1.6rem;
      line-height: 20px;
    }
    
    &__tool {
      width: 300px;

      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;

      position: relative;
    }

    &__bg{
      height: 10%;
      width: 100%;

      position: absolute;
      bottom: 0;
    }
   
  }
  .input{
    display: flex;
    flex-flow: column wrap;

    position: relative;
    
     &__hint{
      font-size: 1.2rem;
      font-weight: 400;

      color: var(--color-red-0);

      position: absolute;
      bottom: -15px;

      transition: 1s ease-in-out;
    }

  }

  .toolText {
    font-family: var(--font-montserrat-family);

    font-size: 1.4rem;
    font-weight: 500;

    line-height: 17px;

    cursor: pointer;
  }

  .text {
    font-style: normal;
    font-weight: 400;

    text-align: center;

    color: var(--color-blue-1);
  }

  .flex {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }