.wrapper {
  background: no-repeat 35% 65%/30%
    url(./../../../../assets/images/sign_up_background.png);

  padding: 40px 120px;
  height: calc(100% - 120px);

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.hero {
  height: 150px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  gap: 30px;

  h2 {
    font-size: 4.8rem;
    line-height: 70px;
  }

  p {
    span {
      color: #007074;
      cursor: pointer;
    }
  }
}

.form {
  p {
    font-family: var(--lexend-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;

    a {
      color: var(--color-blue-0);
      cursor: pointer;
    }
  }

  h3 {
    margin: 12px 0px;
  }

  &__alternative {
    width: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    gap: 12px;

    button {
      margin: 8px 0px;
      width: 270px;
      padding: 12px 24px;

      background: #fff;
      color: #043133;

      border: 1.4px solid #d2d2d2;
      border-radius: 5px;
    }

    img {
      height: 40px;
      width: 40px;
    }
  }
}
